body {
    background-color: lightblue;
    font-size: 20px;
}

table {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 2px;

}

th {
    padding: 5px;
    text-decoration: underline;
}